.message-you {
  background-color: #00ffff; /* cyan */
  color: #000;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 8px;
  max-width: 75%;
  font-size: 15px;
  line-height: 1.4;
  word-wrap: break-word;
}

.message-stranger {
  background-color: #ff66cc; /* soft pink */
  color: #000;
  align-self: flex-start;
  text-align: left;
  margin-right: auto;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 8px;
  max-width: 75%;
  font-size: 15px;
  line-height: 1.4;
  word-wrap: break-word;
}
